.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
*.swp
*.un~
*.orig
.idea/
.rvmrc
*.DS_Store
.pairs
.DS_Store
public/system/*
public/assets/*
spec/javascripts/generated/*
.rbenv-version
coverage/*
app/assets/.DS_Store
