%p
  Correo enviado desde el formulario de contacto de la pagina del Colegio de Médicos Oftalmólogos de Jalisco
%p
  Nombre: #{sender[:name]}
  Teléfono: #{sender[:tel]} 
  Email: #{sender[:email]}
%p
  Mensaje: 
  #{message}
