#calendar
#base-dialog
  #schedule
  #coordinator
  #place
  #data


:javascript
  $(document).ready(function() {
    $('#base-dialog').dialog({ autoOpen:false });
    $('#calendar').fullCalendar({
      theme: true,
      weekMode: 'variable',
      eventSources: [
        {
            url: '/event_dates/filiales.json', // use the `url` property
            color: 'yellow',    // an option!
            textColor: 'black'  // an option!
        },
        {
            url: '/event_dates/congreso.json', // use the `url` property
            color: 'red',    // an option!
            textColor: 'black'  // an option!
        },
        {
            url: '/event_dates/sesiones-ordinarias.json', // use the `url` property
            color: 'blue',    // an option!
            textColor: 'black'  // an option!
        },
        {
            url: '/event_dates/educacion-continua.json', // use the `url` property
            color: 'green',    // an option!
            textColor: 'black'  // an option!
        }
      ],
      eventRender: function(event, element) {
        var short_title = '';
        if ((event.title.length - 15) > 0)  {
          short_title = event.title.substring(0,15) + '...';
        }
        else{
          short_title = event.title
        }

        element.find('.fc-event-title').html(short_title);    
      },
      eventClick: function(event) {
        dialog = $('#base-dialog');
        dialog.attr('data-id',event.id);
        dialog.find('#schedule').html(event.schedule);
        dialog.find('#coordinator').html(event.coordinator);
        dialog.find('#place').html(event.place);
        var sluged_title = event.title.replace(/ /g ,'-').toLowerCase();
        var event_link = "<a href=/events/" + sluged_title + ">Details</a>";
        dialog.find('#data').html(event_link);
        dialog.dialog('option', 'title', event.title);
        dialog.dialog('open');
        return false;
      }
    });
  });
