#cal-wrapper{:style => 'padding: 20px;'}
  #calendar
#base-dialog
  #schedule
  #coordinator
  #place

:javascript
  $(document).ready(function() {
    $('#base-dialog').dialog({ autoOpen:false });
    $('#calendar').fullCalendar({
      theme: true,
      weekMode: 'variable',
      eventSources: [
        {
            url: '/event_dates/filiales.json', // use the `url` property
            color: 'yellow',    // an option!
            textColor: 'black'  // an option!
        },
        {
            url: '/event_dates/congreso.json', // use the `url` property
            color: 'red',    // an option!
            textColor: 'black'  // an option!
        },
        {
            url: '/event_dates/sesiones-ordinarias.json', // use the `url` property
            color: 'blue',    // an option!
            textColor: 'black'  // an option!
        },
        {
            url: '/event_dates/educacion-continua.json', // use the `url` property
            color: 'green',    // an option!
            textColor: 'black'  // an option!
        }
      ],
      eventClick: function(event) {
        dialog = $('#base-dialog');
        dialog.attr('data-id',event.id);
        dialog.find('#schedule').html(event.schedule)
        dialog.find('#coordinator').html(event.coordinator)
        dialog.find('#place').html(event.place)
        dialog.dialog('option', 'title', event.title)
        dialog.dialog('open');
        return false;
      }
    });
  });
