%h1 Calendario
#calendar
#examples
  %h2 Categorías
  %ul
    %li
      .color.sesiones
      Sesiones Ordinarias
    %li
      .color.educacion
      Educación Continua
    %li
      .color.filiales
      Filiales
    %li
      .color.congreso
      Congreso
#base-dialog
  #schedule
  #coordinator
  #place
  #data


:javascript
  $(document).ready(function() {
    $('#base-dialog').dialog({ autoOpen:false });
    $('#calendar').fullCalendar({
      theme: true,
      weekMode: 'variable',
      dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié','Jue', 'Vie', 'Sab'],
      monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio','Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
      buttonText: {
        today:      'Hoy'
      },
      eventSources: [
        {
            url: '/event_dates/filiales.json', // use the `url` property
            color: '#fe0000',    // an option!
            textColor: 'black'  // an option!
        },
        {
            url: '/event_dates/congreso.json', // use the `url` property
            color: '#598526',    // an option!
            textColor: 'black'  // an option!
        },
        {
            url: '/event_dates/sesiones-ordinarias.json', // use the `url` property
            color: '#aca000',    // an option!
            textColor: 'black'  // an option!
        },
        {
            url: '/event_dates/educacion-continua.json', // use the `url` property
            color: '#458ccc',    // an option!
            textColor: 'black'  // an option!
        }
      ],
      eventRender: function(event, element) {
        var short_title = '';
        if ((event.title.length - 6) > 0)  {
          short_title = event.title.substring(0,6) + '...';
        }
        else{
          short_title = event.title;
        }
        style = element.css('background-color');
        title = element.find('.fc-event-title');
        element.css('background-color','transparent');
        element.css('border','');
        inner = element.find('.fc-event-inner');
        inner.attr('style','color: black;');
        inner.html('');
        inner.prepend('<div class="color" style="background:' + style +  ';"></div>')
        inner.append(title);
        inner.find('.fc-event-title').html(short_title);    
      },
      eventClick: function(event) {
        dialog = $('#base-dialog');
        dialog.attr('data-id',event.id);
        dialog.find('#schedule').html(event.schedule);
        dialog.find('#coordinator').html(event.coordinator);
        dialog.find('#place').html(event.place);
        var sluged_title = event.title.replace(/ /g ,'-').toLowerCase();
        var event_link = "<a href=/events/" + sluged_title + ">Details</a>";
        dialog.find('#data').html(event_link);
        dialog.dialog('option', 'title', event.title);
        dialog.dialog('open');
        return false;
      }
    });
  });
