%section#binformativo1
  #slider
    - @informativo.each do |image|
      = image_tag banner('950x300', image)

:javascript
  $(document).ready(function(){
    $('#slider').nivoSlider({controlNav: false });
  });
