#wrap-small-calendar
  %h2.side-title Calendario de Eventos
  #small-calendar
#sign-form
  %h2.side-title Login
  = render partial: 'shared/signin_form'
- unless current 'home'
  #bsidebar.slider-wrapper.theme-default
    #ban-sidebar.nivoSilder
      - unless @sidebar.nil?
        - @sidebar.each do |image|
          - if image.image_link.empty?
            = image_tag banner('210x300',image)
          - else
            = link_to image.image_link do
              = image_tag banner('210x300', image)

:javascript
  $(document).ready(function() {
    $('#ban-sidebar').nivoSlider({
      effect: 'fade',
      animSpeed: 500, 
      pauseTime: 5000, 
      directionNav: false, 
      controlNav: false
    });
    $('#small-calendar').fullCalendar({
      theme: true,
      weekMode: 'variable',
      header: {
        left:   '',
        center: 'title',
        right:  ''
      },
      dayNamesShort: ['D', 'L', 'M', 'M','J', 'V', 'S'],
      monthNames: ['Enero', 'Febrero', 'Marzp', 'Abril', 'Mayo', 'Junio', 'Julio','Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
      eventSources: [
        {
          url: '/event_dates/all.json',
          color: 'none',
          cache: true
        }
      ],
      viewDisplay: function(view) {
        $('#small-calendar').find('table').css('font-size','0.7em');
        $('#small-calendar').find('.ui-widget-content').css('border','none');
        $('#small-calendar').find('.ui-widget-content').css('background','none');
        today = $('#small-calendar').find('.ui-state-highlight');
        today.css('background', 'none');
        number = today.find('.fc-day-number');
        number.css('color','#1e74c6');
        number.css('font-weight', 'bold');
        $('#small-calendar').find('.fc-other-month').remove();
        $('#small-calendar').find('thead tr.fc-first th').css('border-right','none');
        $('#small-calendar').find('thead tr.fc-first th').css('padding-right','1px');
        $('#small-calendar').find('thead tr.fc-first th').css('padding-left','1px');
        $('#small-calendar').find('thead tr.fc-first th').css('border-left','none');
       },
      eventClick: function(event, jsEvent, view) {
        var event_date = "/calendario/dia/" + $.fullCalendar.formatDate( event.start, "yyyy-MM-dd");
        window.location = event_date;
      }
    });
  });
