#wrap-small-calendar
  #small-calendar
:javascript
  $(document).ready(function() {
    $('#small-calendar').fullCalendar({
      theme: true,
      weekMode: 'variable',
      header: {
        left:   '',
        center: 'title',
        right:  ''
      },
      dayNamesShort: ['S', 'M', 'T', 'W','T', 'F', 'S'],
      eventSources: [
        {
          url: '/event_dates/all.json',
          color: 'blue',
        }
      ],
      viewDisplay: function(view) {
        $('#small-calendar').find('table').css('font-size','0.7em');
        $('#small-calendar').find('.ui-widget-content').css('border','none');
        $('#small-calendar').find('.fc-other-month').remove();
        $('#small-calendar').find('thead tr.fc-first th').css('border-left','none');
        $('#small-calendar').find('thead tr.fc-first th').css('padding-left','1px');
        $('#small-calendar').find('thead tr.fc-first th').css('border-left','none');
       },
      eventClick: function(event, jsEvent, view) {
        var event_date = "/calendar/day/" + $.fullCalendar.formatDate( event.start, "yyyy-MM-dd");
        window.location = event_date;
      }
    });
  });
