#bcomercial
  #comercial
    - @comercial.each do |image|
      = image_tag banner('450x300',image)
#foro
  = image_tag 'foro-ref.jpg'
#buzon
  = image_tag 'buzon-ref.jpg'

:javascript
  $('#comercial').nivoSlider({ controlNav: false });  
