#contacto
  %h1 Contacto
  #escribenos
    %p
      %strong 
        Colegio de Médicos Oftalmólogos 
        %br
        de Jalisco, A.C.
      %br/
      López Cotilla No. 2123, Colonia Arcos Vallarta
      %br/
      C.P. 44130 Guadalajara, Jal.,
      %br/
      Tel. 01(33) 3630-1304 
      %br
      Fax: 01 (33) 3616-9847  
    #escr
      %p.resaltar
        escribenos a:
        info@oftalmologosjalisco.org.mx

  #ubicacion
    #mapa
      = gmaps(map_options: {zoom: 16, auto_adjust: true, auto_zoom: false}, markers: { data: "[{'lat':20.673283,'lng':-103.382013}]" } ) 

    
