%h1 Estatutos
%p
  %img{:height => "32", :src => "/assets/pdficon_large.png", :width => "32"}
  %a.ligas{:href => "https://s3.amazonaws.com/mumo-cmoj/pdfs/estatutosSOG2004.pdf"} 
    Da click aquí para descargar los Estatutos en PDF
