#colegio
  %h1 Historia del Colegio de Oftalmología de Jalisco
  %p
    La sociedad de oftalmología de Guadalajara (como inicialmente fue llamada) fue constituida en el año de 1946, siendo su primer presidente el Dr. Enrique Ávalos Pérez, nombrado en esa primer sesión, presidente honorario vitalicio.
    %br/
     
    %br/
    Las primeras sesiones se llevaban a cabo en el consultorio del Dr. Elías Mendoza González, en el edificio Lutecia, despacho 111, posteriormente en el local de la sociedad medico-farmaceutica de Guadalajara, ubicada en ese mismo edificio.
    %br/
     
    %br/
    La sede cambia a la casa de la cultura y en los años 60, se ubican en la Asociación Médica de Occidente, en la Colonia Independencia.
    %br/
     
    %br/
    El día 7 de mayo de 1992, se inaugura oficialmente la Casa del Oftalmólogo de Jalisco "Pablo Jiménez Camarena", ubicada inicialmente en avenida hidalgo y actualmente establecida en calle López Cotilla.
    %br/
     
    %br/
    Los socios fundadores fueron los doctores:
    %br/
  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "725"}
    %tr
      %td{:valign => "top", :width => "50%"}
        %p
          %strong
            Enrique Ávalos Pérez
            %br/
            Elías Mendoza González
            %br/
            Enrique Ávalos González
            %br/
            Luis Martínez López
            %br/
            José Martin del Campo
          %br/
      %td{:valign => "top", :width => "50%"}
        %p
          %strong
            Jesús Gómez Plasencia
            %br/
            Mauricio Peña
            %br/
            Lucio Núñez Leal
            %br/
            Francisco Suarez López
  %p
    Se reconocen 5 etapas en el desarrollo de la sociedad de oftalmología de Guadalajara:
    %br/
     
    %br/
    %strong.resaltar Etapa de fundadores:
    de 1946 hasta 1965 con el Dr. José Martin del Campo
    %br/
     
    %br/
    Se efectuó el segundo congreso nacional de oftalmología, durante la gestión del Dr. Elías Mendoza González, siendo presidido por el mismo.
    %br/
    Se elaboraron los estatutos de la sociedad de oftalmología de Guadalajara durante la presidencia del Dr., enrique avalos González.
    %br/
    Se realiza el diseño del emblema de la sociedad, durante la gestión del Dr., lucio Núñez leal, en 1962.
    %br/
     
    %br/
    %span.resaltar Etapa de academismo formal:
    de 1966 a 1978.
    %br/
     
    %br/
    Tiene como característica la aparición de escuelas definidas de oftalmología, con programas establecidos en diversas instituciones, como en el instituto mexicano del seguro social, el antiguo Hospital Civil de Guadalajara y la Universidad Autónoma de Guadalajara.
    %br/
     
    %br/
    = succeed "de" do
      %span.resaltar Etapa de pluralidad académica:
    1979 a 1989.
    %br/
     
    %br/
    Con la incorporación de médicos brillantes, de diversas escuelas de oftalmología locales, nacionales y extranjeras, se reafirma y sientan las bases en las diversas instituciones locales para la siguiente etapa de subespecialidades.
    %br/
     
    %br/
    %span.resaltar Etapa de subespecialidades:
    de 1990 a 2000.
    %span.resaltar>
      %br/
     
    %br/
    Es el resultado de los avances en la tecnología y la incorporación de estos a la oftalmología, aunado a la preparación y entrenamiento dirigido de sus médicos. Se tiene como característica el reconocimiento de la calidad profesional de sus integrantes, favoreciendo la organización y dirección de eventos académicos y la integración entre sus miembros, a pesar de pertenecer a diferentes escuelas e instituciones.
    %br/
     
    %br/
    %span.resaltar Etapa actual:
    del 2000 en adelante.
    %br/
     
    %br/
    Aun en desarrollo....
    %br/
     
    %br/
    %span.resaltar Presidentes de la sociedad de oftalmología de Guadalajara, A.C.
    %br/
  %table#hor-zebra{:summary => "Employee Pay Sheet", :width => "100%"}
    %tbody
      %tr.odd
        %td.odd{:width => "50%"}
          %strong
            Dr. Enrique Ávalos Pérez
            %br/
        %td#hor-zebra.resaltar 1946
      %tr
        %td
          %strong
            Dr. Elías Mendoza González
            %br/
        %td#hor-zebra.resaltar 1947 - 1948
      %tr.odd
        %td.odd
          %strong
            Dr. Enrique Ávalos González
            %br/
        %td#hor-zebra.resaltar 1949
      %tr
        %td
          %strong
            Dr. Luis Martínez López
            %br/
        %td#hor-zebra.resaltar 1950 - 1953
      %tr.odd
        %td
          %strong
            Dr. José Martin del Campo
            %br/
        %td#hor-zebra.resaltar 1956 y 1965
      %tr
        %td
          %strong
            Dr. Lucio Núñez Leal
            %br/
        %td#hor-zebra.resaltar 1962 - 1964
      %tr.odd
        %td
          %strong
            Dr. Eugenio Chávez Anaya
            %br/
        %td#hor-zebra.resaltar 1966 - 1967
      %tr
        %td
          %strong
            Dr. Jorge Padilla Brambila
            %br/
        %td#hor-zebra.resaltar 1968
      %tr.odd
        %td
          %strong
            Dr. Oscar Cota Mendoza
            %br/
        %td#hor-zebra.resaltar 1969
      %tr
        %td
          %strong
            Dr. José Luis Mendoza Gutiérrez
            %br/
        %td#hor-zebra.resaltar 1970
      %tr.odd
        %td
          %strong
            Dr. Miguel Naranjo Granda
            %br/
        %td#hor-zebra.resaltar 1971
      %tr
        %td
          %strong
            Dr. Antonio Preciado Cardona
            %br/
        %td#hor-zebra.resaltar 1972
      %tr.odd
        %td
          %strong
            Dr. Quirino Rojas Solórzano
            %br/
        %td#hor-zebra.resaltar 1973
      %tr
        %td
          %strong
            Dr. Luis e. Ojeda peña
            %br/
        %td#hor-zebra.resaltar 1974
      %tr.odd
        %td
          %strong
            Dr. Ricardo Manuel Chávez Díaz
            %br/
        %td#hor-zebra.resaltar 1975
      %tr
        %td
          %strong
            Dr. Jaime Ramírez Macías
            %br/
        %td#hor-zebra.resaltar 1976
      %tr.odd
        %td
          %strong
            Dr. Carlos Gorjón Cano
            %br/
        %td#hor-zebra.resaltar 1977
      %tr
        %td
          %strong
            Dr. José Ponce González
            %br/
        %td#hor-zebra.resaltar 1978
      %tr.odd
        %td
          %strong
            Dr. Miguel Bracamontes Ánzar
            %br/
        %td#hor-zebra.resaltar 1979
      %tr
        %td
          %strong
            Dr. Humberto Ruiz Orozco
            %br/
        %td#hor-zebra.resaltar 1980
      %tr.odd
        %td
          %strong
            Dr. Jorge Perales Casillas
            %br/
        %td#hor-zebra.resaltar 1981
      %tr
        %td
          %strong
            Dr. Humberto Saavedra Madrigal
            %br/
        %td#hor-zebra.resaltar 1982
      %tr.odd
        %td
          %strong
            Dr. Arturo Bayardo Casillas
            %br/
        %td#hor-zebra.resaltar 1983
      %tr
        %td
          %strong
            Dr. León Bernardo Aceves Barajas
            %br/
        %td#hor-zebra.resaltar 1984
      %tr.odd
        %td
          %strong
            Dr. Pedro Ruiz Orozco
            %br/
        %td#hor-zebra.resaltar 1985
      %tr
        %td
          %strong
            Dr. Luis Alberto Gutiérrez Osuna
            %br/
        %td#hor-zebra.resaltar 1986
      %tr.odd
        %td
          %strong
            Dr. Félix Alaniz de la O.
            %br/
        %td#hor-zebra.resaltar 1987
      %tr
        %td
          %strong
            Dr. José María Melendrez Luevano
            %br/
        %td#hor-zebra.resaltar 1988
      %tr.odd
        %td
          %strong
            Dr. Guillermo Mendizábal Martínez
            %br/
        %td#hor-zebra.resaltar 1989
      %tr
        %td
          %strong
            Dra. Consuelo Jaime ballesteros
            %br/
        %td#hor-zebra.resaltar 1990
      %tr.odd
        %td
          %strong
            Dr. Fco. Javier Guerrero Cuevas
            %br/
        %td#hor-zebra.resaltar 1991
      %tr
        %td
          %strong
            Dr. Abraham Gutiérrez Zerecero
            %br/
        %td#hor-zebra.resaltar 1992
      %tr.odd
        %td
          %strong
            Dr. Antonio Díaz Bringas
            %br/
        %td#hor-zebra.resaltar 1993
      %tr
        %td
          %strong 1994
        %td#hor-zebra.resaltar 1994
      %tr.odd
        %td
          %strong
            Dr. Fco. Raúl Bustos Zermeño
            %br/
        %td#hor-zebra.resaltar 1995
      %tr
        %td
          %strong
            Dr. Pablo Muñoz Rodríguez
            %br/
        %td#hor-zebra.resaltar 1996
      %tr.odd
        %td
          %strong
            Dr. Miguel Ángel Ibáñez Hernández
            %br/
        %td#hor-zebra.resaltar 1997
      %tr
        %td
          %strong
            Dr. Fernando Mora González
            %br/
        %td#hor-zebra.resaltar 1998
      %tr.odd
        %td
          %strong
            Dra. Ma. Virginia Rivera Robles
            %br/
        %td#hor-zebra.resaltar 1999
      %tr
        %td
          %strong
            Dr. René Santillán Lamas
            %br/
        %td#hor-zebra.resaltar 2000
      %tr.odd
        %td
          %strong
            Dr. Víctor Manuel Preciado Iñiguez
            %br/
        %td#hor-zebra.resaltar 2001
      %tr
        %td
          %strong
            Dr. José Ramón Becerra Bracho
            %br/
        %td#hor-zebra.resaltar 2002
      %tr.odd
        %td
          %strong
            Dr. Jaime Navarro Sánchez
            %br/
        %td#hor-zebra.resaltar 2003
      %tr
        %td
          %strong
            Dr. Agustín Vargas Girad 
            %br/
        %td#hor-zebra.resaltar 2004
      %tr.odd
        %td
          %strong
            Dr. José de Jesús Panduro Loera
            %br/
        %td#hor-zebra.resaltar 2005
      %tr
        %td
          %strong
            Dr. Rubén Leñero Córdova
            %br/
        %td#hor-zebra.resaltar 2006
      %tr.odd
        %td
          %strong
            Dra. Norma Alicia León
            %br/
        %td#hor-zebra.resaltar 2007
      %tr
        %td
          %strong
            Dr. Ernesto Lázaro García Romero
            %br/
        %td#hor-zebra.resaltar 2008
      %tr.odd
        %td
          %strong
            Dra. Silvia Briseño Velásquez 
            %br/
        %td#hor-zebra.resaltar 2009
      %tr
        %td
          %strong
            Dr. Carlos Naranjo Ahumada
            %br/
        %td#hor-zebra.resaltar 2010
      %tr.odd
        %td
          %strong Dr. Jesús Moreno Salceda 
        %td#hor-zebra.resaltar 2011
  %p
    %br/
