#directorio
  %h1 Filiales
  .eventos
    .nombres-eventos
      %ul
        %li
          .lista-eventos
            %a{:href => "#"}
              %span.nombre-eventos Asociación de Glaucoma de Occidente 2012
              %br/
              %span.cordinador-eventos Cordinación general: Dra. Victoria E. Sánchez Castellanos
        %li
          .lista-eventos
            %a{:href => "#"}
              %span.nombre-eventos Sociedad de Oftalmología Pediátrica y Estrabismo de Occidente 2012
              %br/
        %li
          .lista-eventos
            %a{:href => "#"}
              %span.nombre-eventos
                Grupo Oftalmológico
                %br/
                Dr. Enrique Avalos Pérez A.C.
              %br/
              %span.cordinador-eventos Cordinación general: Dr. Jorge Topete Jiménez
        %li
          .lista-eventos
            %a{:href => "#"}
              %span.nombre-eventos
                Sociedad Cirugia Oculoplástica Orbitaria
                %br/
                y Vías Lagrimales de Occidente S.C.
                %br/
                y Grupo de Estudio de la Neuro-Oftalmología
              %br/
        %li
          .lista-eventos
            %a{:href => "#"}
              %span.nombre-eventos Programa Académico de la Asociacion de Retina de Occidente 2012
              %br/
              %span.cordinador-eventos Cordinación general: Dr. Andrés Padilla Ailhaud
