#directorio
  %h1
    Educación Continua
    %br/
    %span.cordinador-eventos Coordinación general: Dr. Gabriel Leñéro García
  .eventos
    .nombres-eventos
      %ul
        %li
          .lista-eventos
            %a{:href => "/modulos/glaucoma"}
              %span.nombre-eventos Módulo: Glaucoma
              %br/
              %span.cordinador-eventos Coordinación: Dr. Ernesto Lázaro García Romero
        %li
          .lista-eventos
            %span.nombre-eventos Vacaciones de Semana Santa
            %br/
        %li
          .lista-eventos
            %a{:href => "/modulos/retina"}
              %span.nombre-eventos Módulo: Retina
              %br/
              %span.cordinador-eventos Coordinación: Dr. Luis Benjamín Barba Contreras
        %li
          .lista-eventos
            %a{:href => "/modulos/oftalmologia"}
              %span.nombre-eventos Módulo: Oftalmología Pediátrica y Estrabismo
              %br/
              %span.cordinador-eventos Coordinación: Dra. Graciela González Pérez
        %li
          .lista-eventos
            %span.nombre-eventos Vacaciones de Verano
            %br/
        %li
          .lista-eventos
            %a{:href => "#"}
              %span.nombre-eventos Módulo: Refrácción
              %br/
              %span.cordinador-eventos Se Cancela
        %li
          .lista-eventos
            %a{:href => "/modulos/neuro"}
              %span.nombre-eventos Módulo: Neurooftalmología
              %br/
              %span.cordinador-eventos Coordinación: Dra. Silvia Briseño Velázquez
        %li
          .lista-eventos
            %a{:href => "/modulos/cornea"}
              %span.nombre-eventos Módulo: Córnea y Catarata
              %br/
              %span.cordinador-eventos Coordinación: Dra. Claudia Margarita Ascencio Tene
        %li
          .lista-eventos
            %a{:href => "#"}
              %span.nombre-eventos Módulo: Tecnología de Punta
              %br/
              %span.cordinador-eventos Se Cancela
