#directorio
      %h1
        Educación Continua
        %br/
        %span.cordinador-eventos Cordinación general: Dr. Gabriel Leñéro García
      .eventos
        .nombres-eventos
          %ul
            %li
              .lista-eventos
                %a{:href => "#"}
                  %span.nombre-eventos Módulo: Glaucoma
                  %br/
                  %span.cordinador-eventos Cordinación: Dr. Ernesto Lázaro García Romero
            %li
              .lista-eventos
                %span.nombre-eventos Vacaciones de Semana Santa
                %br/
            %li
              .lista-eventos
                %a{:href => "#"}
                  %span.nombre-eventos Módulo: Retina
                  %br/
                  %span.cordinador-eventos Cordinación: Dr. Luis Benjamín Barba Contreras
            %li
              .lista-eventos
                %a{:href => "#"}
                  %span.nombre-eventos Módulo: Oftalmología Pediátrica y Estrabismo
                  %br/
                  %span.cordinador-eventos Cordinación: Dra. Graciela González Pérez
            %li
              .lista-eventos
                %span.nombre-eventos Vacaciones de Verano
                %br/
            %li
              .lista-eventos
                %a{:href => "#"}
                  %span.nombre-eventos Módulo: Refrácción
                  %br/
                  %span.cordinador-eventos Cordinación: Dr. Rocío Gómez Carmona y Dr. Gabriel Leñero García
            %li
              .lista-eventos
                %a{:href => "#"}
                  %span.nombre-eventos Módulo: Neurooftalmología
                  %br/
                  %span.cordinador-eventos Cordinación: Dra. Silvia Briseño Velázquez
            %li
              .lista-eventos
                %a{:href => "#"}
                  %span.nombre-eventos Módulo: Córnea y Catarata
                  %br/
                  %span.cordinador-eventos Cordinación: Dra. Claudia Margarita Ascencio Tene
            %li
              .lista-eventos
                %a{:href => "#"}
                  %span.nombre-eventos Módulo: Tecnología de Punta
                  %br/
                  %span.cordinador-eventos Cordinación: Dr. César Rufino Hernández Navarro
