#directorio
  %h1 Filiales
  .eventos
    .nombres-eventos
      %ul
        %li
          .lista-eventos
            %a{:href => "/filiales/asociacion-glaucoma"}
              %span.nombre-eventos Asociación de Glaucoma de Occidente 2012
              %br/
              %span.cordinador-eventos Coordinación general: Dra. Victoria E. Sánchez Castellanos
        %li
          .lista-eventos
            %a{:href => "/filiales/pediatrica"}
              %span.nombre-eventos Sociedad de Oftalmología Pediátrica y Estrabismo de Occidente 2012
              %br/
              %span.cordinador-eventos Coordinación general: Dr. Alfredo Lizarraga Corona
        %li
          .lista-eventos
            %a{:href => "/filiales/oftalmologico"}
              %span.nombre-eventos
                Grupo Oftalmológico
                %br/
                Dr. Enrique Avalos Pérez A.C.
              %br/
              %span.cordinador-eventos Coordinación general: Dr. Jorge Topete Jiménez
        %li
          .lista-eventos
            %a{:href => "/filiales/oculoplastica"}
              %span.nombre-eventos
                Sociedad Cirugia Oculoplástica Orbitaria
                %br/
                y Vías Lagrimales de Occidente S.C.
                %br/
                y Grupo de Estudio de la Neuro-Oftalmología
              %br/
              %span.cordinador-eventos Coordinación general: Dr. Gerardo Gabriel Peréz Solozano
        %li
          .lista-eventos
            %a{:href => "/filiales/academico-retina"}
              %span.nombre-eventos Programa Académico de la Asociacion de Retina de Occidente 2012
              %br/
              %span.cordinador-eventos Coordinación general: Dr. Andrés Padilla Ailhaud
