#industria
  %h1 Industria
  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "725"}
    %tr
      %td{:width => "50%"}
        %h2
          Allergan
          %br/
          %span.ligas
            %a{:href => "http://www.allergan.com/index.htm", :target => "_blank"} http://www.allergan.com/index.htm
        %h2
          Alcon
          %br/
          %span.ligas
            %a{:href => "http://www.alcon.mx/", :target => "_blank"} http://www.alcon.mx/
          %br/
          %a.ligas{:href => "#", :target => "_blank"}
        %h2
          Baush  y Lom
          %br/
          %span.ligas
            %a{:href => "http://www.bauschmexico.com/", :target => "_blank"} http://www.bauschmexico.com/
        %h2
          Shopia
          %br/
          %span.ligas
            %a{:href => "http://sophia.com.mx/", :target => "_blank"} http://sophia.com.mx/
          %br/
      %td{:width => "50%"}
        %h2
          Sifi
          %br/
          %a.ligas{:href => "http://www.sifi.it/", :target => "_blank"} http://www.sifi.it/
          %br/
        %h2
          MSD
          %br/
          %a.ligas{:href => "http://www.msd.com.mx", :target => "_blank"} http://www.msd.com.mx
          %br/
        %h2
          Grin labs
          %br/
          %span.ligas
            %a{:href => "http://www.laboratoriosgrin.com/", :target => "_blank"} http://www.laboratoriosgrin.com/
        %h2
          Tecnofarma
          %br/
          %span.ligas
            %a{:href => "http://www.tecnofarma.com.mx/products.htm", :target => "_blank"} http://www.tecnofarma.com.mx/products.htm
