#industria
  %h1 Mensaje del Presidente
	%p
    %br
    Estimados compañeros y amigos oftalmólogos, mediante las siguientes líneas les doy la más cordial bienvenida a este año 2012 invitándolos a participar activamente en nuestro Colegio.
    %br
    %br
    Durante mi trayectoria de vida siempre me he caracterizado por trabajar en equipo tanto en mi vida personal como profesional ya que considero que es una forma eficiente y fácil para alcanzar los objetivos y metas trazados en nuestro camino.
    %br
    %br
    Este ciclo 2012 tendremos varios cambios en nuestra dinámica de las sesiones ordinarias y un Curso de Educación Continua en Oftalmología que están encaminados a mejorar el nivel académico en beneficio de nuestra población que tanto nos necesita.
    %br
    %br
    Debemos recordar que como médicos nuestro blanco principal es atender y dar solución a los problemas oftalmológicos del paciente, por lo que estaremos enfocados a los padecimientos que más afectan a nuestra población.
    %br
    %br
    Por este motivo los invito a que trabajemos en equipo para mantener, fortalecer y mejorar el nivel académico que nuestro Colegio siempre ha mostrado.
    %br
	%span#cita
    Recuerden que para ser exitoso
    %br
    no tienes que hacer cosas extra ordinarias,
    %br
    has las cosas ordinarias
    %br
    extraordinariamente bien.
	%p
	  %br
	  Atentamente
	  %br
	  %span#nombre Dr. Gabriel Leñero García
	  %br
	  Presidente Colegio de Médicos Oftalmólogos de Jalisco 2012