#colegio
  %h1 Mesa Directiva 2012
  %table#hor-zebra{:summary => "Employee Pay Sheet", :width => "100%"}
    %thead
      %tr
        %th{:scope => "col", :width => "50%"} Puesto
        %th{:scope => "col", :width => "50%"} Nombre
    %tbody
      %tr.odd
        %td.odd PRESIDENTE
        %td Dr. Gabriel Leñero García
      %tr
        %td VICEPRESIDENTE
        %td Dr. Luis Benjamín Barba Contreras
      %tr.odd
        %td.odd SECRETARIO
        %td Dra. Patricia Díaz Bringas
      %tr
        %td SUB-SECRETARIO
        %td Dra. Claudia Margarita Ascencio Tene
      %tr.odd
        %td TESORERO
        %td Dra. Graciela González Pérez
      %tr
        %td SUB-TESORERO
        %td Dr. Miguel Ángel Rodríguez Rosales
      %tr.odd
        %td
          ASESORES:
          %br/
        %td
          Dra. Silvia Briseño Velázquez
          %br/
          Dra. María del Rocío Gómez Carmona
          %br/
          Dr. José Ramón Becerra Bracho
          %br/
          Dr. Eugenio Chávez Anaya
          %br/
          Dr. Abraham Gutiérrez Zerecero
          %br/
          Dr. Pablo Muñoz Rodríguez
          %br/
          Dr. Martín Jaime Navarro Sánchez
		  %br/
          Dr. Jesús Moreno Salceda
      %tr
        %td COMISION DE FINANZAS:
        %td  
      %tr.odd
        %td COORDINADOR:
        %td Dr. Rubén Leñero Córdova
      %tr
        %td 1er. VOCAL:
        %td Dr. Carlos Naranjo Ahumada
      %tr.odd
        %td 2do. VOCAL:
        %td Dr. Ernesto Lázaro García Romero
      %tr
        %td 3er. VOCAL:
        %td Dr. Gabriel Leñero García
      %tr.odd
        %td 4to. VOCAL:
        %td Dr. Luis Benjamín Barba Contreras
      %tr
        %td COMISION DE ADMISIÓN:
        %td
          Dra. Adriana Marcela Martínez Ruiz
          %br/
          Dr. Roberto Delgado Sotelo
          %br/
          Dr. Miguel Montes Salcedo
      %tr.odd
        %td COMISIÓN DE HONOR Y JUSTICIA:
        %td
          Dra. Aurora Gutiérrez Barrón
          %br/
          Dr. Guillermo Ávalos Urzúa
          %br/
          Dr. Víctor Manuel Villar Calvo
      %tr
        %td COORDINADORES ACADÉMICOS:
        %td
          Dra. Claudia Verónica Chacón Acuña
          %br/
          Dr. Miguel Ángel Ibáñez Hernández
          %br/
          Dr. Fernando Guadalupe Mora González
      %tr.odd
        %td COMISIÓN ACADÉMICA:
        %td
          Dra. Martha Estela Rodríguez García
          %br/
          Dr. Félix Alanís de la O
          %br/
          Dr. Francisco Chávez Anaya
          %br/
          Dr. Humberto Sayavedra Madrigal
      %tr
        %td DIRECTOR DEL ORGANO INFORMATIVO:
        %td
          Dra. Beatriz Alvarado Castillo
          %br/
          Dra. Rosa Elena de la Torre Castro
          %br/
          Dr. Mario Salvador García Contreras
      %tr.odd
        %td DIRECTOR DE LA BIBLIO-HEMEROTECA:
        %td Dr. Juan Manuel Sobrado Rodríguez
      %tr
        %td VOCAL ANTE EL CONSEJO MEXICANO DE OFTALMOLOGÍA:
        %td Dr. Luis Benjamín Barba Contreras
      %tr.odd
        %td DELEGADOS ANTE LA A.M.J. COLEGIO MÉDICO A.C.
        %td
          Dr. Gabriel Leñero García
          %br/
          Dr. Luis Benjamín Barba Contreras
      %tr
        %td COORDINADOR DEL ÁREA COMERCIAL:
        %td Dr. Jorge Topete Jiménez
      %tr.odd
        %td COORDINADORES DE EVENTOS:
        %td
          Dra. Patricia Andrade Pérez
          %br/
          Dra. Irene Maribel Montoya Sánchez
          %br/
          Dr. Samuel Altamirano Vallejo
