#industria
  %h1 Misión
  %p
    Agrupar y mantener actualizados a los médicos cirujanos especializados en Oftalmología del estado de Jalisco para promover el estudio, la enseñanza e investigación de esta especialidad y dar solución a los problemas de salud relacionados con ella manteniendo ante todo  el profesionalismo y la ética.
