#industria
  %h1 DOCUMENTOS QUE SE REQUIEREN PARA PERTENECER A LA MEMBRESIA DEL COLEGIO DE MEDICOS OFTALMÓLOGOS DE JALISCO, A. C.
  %ol
    %ol
      %ol
        %li
          %p Título de Médico Cirujano con reconocimiento Universitario
        %li
          %p Diploma de Especialidad en Oftalmología con reconocimiento Universitario
        %li
          %p Cédula Profesional Federal de Médico Cirujano
        %li
          %p Cédula Profesional Estatal de Médico Cirujano
        %li
          %p Cédula Profesional Federal de Especialista en Oftalmología
        %li
          %p Cédula Profesional Estatal de Especialista en Oftalmología
        %li
          %p Currículum Vital (Breve)
        %li
          %p Dod Fotografías tamaño infantil a color recientes
        %li
          %p Copia del Registro Federal de Causantes
        %li
          %p Actualización de Domicilio
  %p
    %strong Costo de Inscripción:
    %br/
    $ 1,300.00 de Enero al 30 de Abril del 2012.
    %br/
    %br/
    %strong Anualidad 2012:
    %br/
    $ 1,300.00 de Enero al 30 de Abril.
    %br/
    %br/
    %strong Posteriormente:
    %br/
    $ 1,500.00 por cada concepto.
  %p
    %em
      %strong NOTA: FAVOR DE ENTREGAR COPIAS CLARAS Y LEGIBLES.
  %p Atentamente.
  %p
    %strong Dr. Gabriel Leñero García.
    %br/
    Presidente