#sugerencias
  %h1 Sugerencias
  #textoSugerencias
    %p.nombre-eventos
      ¿Tienes dudas o sugerencias?
    %p
      Este es un espacio para ti, envíanos tus comentarios.
  #contenedorSugerencia
    = form_tag new_suggestion_path, class: 'form' do
      %p.text2
        = text_area_tag 'text',nil, class: 'textareaSugerencias'
      %p.submit
        = submit_tag 'Enviar'
