.fc-event-inner:hover {
  cursor: pointer;
}
#calendar {
  .fc-day-number {
    width: 100%;
    border-bottom: 1px solid gray;
    padding-left: 5px;
  }

  thead tr th {
    border: none;
    background: none;
    border-bottom: 1px solid #AAA;
  }
}

#small-calendar {
  .fc-day-number {
    text-align: center;
  }
  .fc-event-inner {
    background: url('big-star.png') no-repeat center;
  }
}
