.fc-event-inner:hover {
  cursor: pointer;
}

.fc-header-title {
  font-weight: lighter;
  color: #999;
}

#calendar {
  .fc-day-number {
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    padding-left: 5px;
  }

  .fc-other-month{ 
    background: rgba(50, 50, 50, 0.2);
  }

  .fc-day-content {
    border-top: 1px solid gray;
  }

  thead tr th {
    border: none;
    background: none;
    border-bottom: 1px solid #AAA;
  }

  .fc-header-title {
    h2 { font-size: 18px; }
  }
}

#base-dialog {
  font-size: 14px;
  color: #333;
  p {
    color: #666;
  }
  #schedule {
    padding: 5px 0;
    p.schedule { display: inline; }
  }
  #place {
    margin-top: 5px;
    p { margin: 0px;}
    span {
      display: inline-block;
      width: 100%;
      &.place { 
        font-size: 18px;
        padding: 5px 0;
      }
    }
  }
  #details {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px 10px;    
    a {
      text-decoration: none;
    }
  }
}

#small-calendar {
  .fc-day-number {
    text-align: center;
  }
  .fc-event-inner {
    background: url('big-star.png') no-repeat center; 
  }
  .fc-header-title {
    h2 { font-size: 14px; }
  }
}
