@charset "UTF-8";




#container {
	margin: 0 auto;
	width: 960px;
	position: relative;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0px 0px 6px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
	background-color: #FFF;
	background-image: url(images/fondoHome.gif);
}



#header {
	height: 100px;
}

#logo {
	background-image: url(images/logo.png);
	background-repeat: no-repeat;
	height: 73px;
	top: 15px;
	position: relative;
	width: 400px;
	left: 20px;
}

#menu {
	float: right;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-left: 0px;
	height: auto;
	width: auto;
	position: relative;
}


#menu ul
{
	list-style-type: none;
	text-align: center;
	margin: 0;
	padding: 0;
}

#menu ul li { display: inline; }

#menu ul li a
{
	text-decoration: none;
	color: #666;
	padding-right: .2em;
	padding-left: .2em;
}

#menu ul li a:hover
{
	color: #333;
	
}



#binformativo1 {
	height: auto;
}


#main {

	
}



#left {
	float: left;
	width: 725px;
	background-image: url(images/fondoHome.gif);
	display: block;	
}

#bcomercial {
	float: left;
	height: auto;
	width: auto;
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

#foro {
	height: auto;
	width: auto;
	background-repeat: no-repeat;
	background-position: center center;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	float: left;
}

#buzon {
	float: left;
	height: auto;
	width: auto;
	background-repeat: no-repeat;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	background-position: center center;
}


#sidebar {
	background-color: #666;
	height: 330px;
	width: 235px;
	float: right;
}

#footer {
	height: 100px;
	background-color: #d5d5d5;
	width: 100%;
	float: left;
	text-align: center;
	padding-top: 30px;
}
body {
	margin: 0px;
	padding: 0px;
}


.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearfix {display:inline-block;}
/* Hide from IE Mac \*/
	.clearfix {display:block;}
/* End hide from IE Mac */
	
