@charset "UTF-8";

#container {
	margin: 0 auto;
	width: 960px;
	position: relative;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0px 0px 6px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
	background-color: #FFF;
	
}



#header {
height: 100px;
background-image: url(fondoHome.gif);

}

#logo {
	background-image: url(logo.png);
	background-repeat: no-repeat;
	height: 73px;
	top: 15px;
	position: relative;
	width: 400px;
	left: 20px;
}





#binformativo1 {
	height: auto;
	background-color: #CCC;

	
}


#main {
background-image: url(fondoMain.gif);
	
}



#left {
	float: left;
	width: 725px;
	display: block;	
}

#bcomercial {
	float: left;
	height: auto;
	width: auto;
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

#foro {
	height: 145px;
	width: 230px;
	padding: 10px;
	padding-bottom: 0px;
	float: left;
}

#buzon {
	height: 145px;
	width: 230px;
	padding: 10px;
	padding-bottom: 0px;
	float: left;
}


#sidebar {
	height: 330px;
	width: 235px;
	float: right;
}

#footer {
	height: 50px;
	background-color: #d5d5d5;
	width: 100%;
	float: left;
	text-align: center;
	padding-top: 30px;
	font-family: 'Trykker', serif;
	font-size: 14px;
	font-weight: lighter;
	color: #999;
	text-shadow: 0px 1px 0px #e5e5ee;
}
body {
	margin: 0px;
	padding: 0px;
}


.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearfix {
  display: inline-block;
}
/* Hide from IE Mac \*/
	.clearfix {display:block;}
/* End hide from IE Mac */
	


.bannercom {
	box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:inset 0px 0px 6px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.5);
		
}


/*------------------------------------------------*/
/*---------------[DROPDOWN MENU]------------------*/ 
/*------------------------------------------------*/



#menu {
	font-size: 0.7em;
	float: right;
	padding-top: 0px;
	padding-right: 15px;
	padding-bottom: 0px;
	padding-left: 0px;
	height: auto;
	width: auto;
	position: relative;
	z-index: 900;
	top: -12px;
	text-align: left;	
}

#menu ul { list-style-type: none; }

#menu ul li.nivel1 {
	float: left;
	width: auto;
	list-style-type: none;
	text-align: center;
	padding-right: 5;
	padding-left: 5;
}

#menu ul li a {
	display: block;
	text-decoration: none;
	position: relative;
	color: #666;
	font-family: 'Trykker', serif;
	font-size: 14px;
	font-weight: lighter;
	padding-top: 8px;
	padding-right: 5px;
	padding-bottom: 15px;
	padding-left: 5px;	
	
}

#menu ul li:hover {position: relative; }

#menu ul li a:hover {	
	color: #000;
	position: relative;
}


#menu ul li:hover a.nivel1 {
	color: #000;
	position: relative;
	z-index: 100;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #666;
  padding-top: 6px;
}


#menu ul li a.nivel1 {
display: block;
position: relative;
}

#menu ul li ul {
	display: none;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0px 0px 6px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-radius: 0px 5px 5px 5px;
	border-radius: 0px 5px 5px 5px;
}

#menu ul li a:hover ul, #menu ul li:hover ul,#menu ul li ul li a:hover.final {
display: block;
position: absolute;left: 0px;
color: #333;
background-color: #CCC;
}

#menu ul li ul li a {
	width: 160px;
	padding: 6px 0px 8px 0px;
	background-color: #FFF;
}

