#directorio
  %h1 Directorio
  .orden
    = paginate @members
  .miembros
    #nombres-miembros
      %ul
        - @members.each do |e|
          %li
            = link_to e.full_name, member_path(e)
