#directorio
  %h1 Directorios
  = render partial: 'filter_menu'
  .miembros
    #nombres-miembros
      %ul
        - @members.each do |e|
          %li
            = link_to e.full_name, member_path(e)
